/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap');

:root {
  --cmn-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  --project-card-size: 250px;
}

body {
  /* font-family: Inter, sans-serif; */
  font-family: 'Harmattan', sans-serif;
}

* {
  transition-duration: .25s;
}

*:focus {
  outline-color: var(--sec-color)
}

.App {
  --bg-color: #F5F5F5;
  --header-txt-color: #2B283A;
  --occupation-txt-color: #F47D27;
  --web-txt-color: #4A4E74;
  --sec-color: rgb(245,98,93);
  --paragraph-txt-color: #4A4E74;
  --footer-bg-color: #D5D4D8;

  background-color: var(--bg-color);
  min-height: 100vh;
  transition-duration: .2s;
}

.dark-app {
  --bg-color: #1A1B21;
  --header-txt-color: white;
  --occupation-txt-color: #F3BF99;
  --web-txt-color: white;
  --sec-color: #383838;
  --paragraph-txt-color: #DCDCDC;
  --footer-bg-color: #161619;

  color: white;
}

h1,
h2 {
  color: var(--header-txt-color);
  position: relative;
}

h2::before {
  content: "";
  width: 4px;
  height: 120%;
  position: absolute;
  background-color: var(--sec-color);
  left: -1rem;
}

button {
  width: 130px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
  padding: 0;
  transition-duration: .3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

button a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 13px;
}

.Projects {
  text-align: center;
  background: white;
  /* margin-top: 4rem; */
  padding-block: 2em;
  background-image: url(./assets/project-bg.png);
  background-size: 500px;
  background-position: 0;
}

.Projects h2 {
  position: relative;
  max-width: 1200px;
  margin-inline: auto;
}

.Projects h2::before,
.Projects h2::after {
  content: "";
  position: absolute;
  padding: 1em;
  background-color: var(--sec-color);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.Projects h2::before { 
  left: 0;
}

.Projects h2::after {
  right: 0;
}

.dark-app .Projects {
  background: var(--bg-color);
}

.project-bg {
  fill: var(--sec-color);
  stroke-width: 3;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 2em 0;
}

.project {
  width: var(--project-card-size);
  height: calc(var(--project-card-size)/1.2);
  margin: 2em;
  border-radius: 50px;
  overflow: hidden;
  
  /* for safari */
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  background: white;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border: .1em solid var(--sec-color);
}

.dark-app .project {
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.5);
}

.project:hover,
.project-focus {
  box-shadow: var(--cmn-box-shadow);
  border-radius: 10px;
  transform: scale(1.2); 
}

.project:focus {
  border: .3em solid var(--sec-color);
}

.project-title {
  box-shadow: var(--cmn-box-shadow);
  margin: 0;
  padding-block: .5em;
  background-color: var(--sec-color);
  color: white;
  font-size: .8rem;
}

.project-preview {
  height: 100%;
  position: relative;
}

.project-overlay {
  opacity: 0;
  position: absolute;
  inset: 0;
}

.project:hover .project-overlay,
.project-focus .project-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.project-overlay .go-to {
  transition-timing-function: cubic-bezier(.22,.68,0,2.71);
  transition-delay: .25s;
  visibility: hidden;
  background-color: white;
  color: var(--sec-color);
  width: 40%;
  font-size: .95em;
}

.project-overlay .go-to a {
  padding: .5rem 0;
}

.project:hover .project-overlay .go-to,
.project-focus .project-overlay .go-to {
  visibility: visible;
  transform: translateY(180%);
}

.dark-app .project-overlay .go-to {
  background-color: white;
  color: black !important;
}

.project-overlay .go-to .arrow {
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 20px;
}

.project-overlay .go-to:hover .arrow,
.project-overlay .go-to a:focus .arrow {
  opacity: 1;
  width: 20%;
}

.Footer {
  background-color: var(--footer-bg-color);
  margin-top: -2rem;
}

.Footer--icons {
  padding: 2rem;
  margin-inline: auto;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.Footer--icons .icon {
  width: 30px;
  height: 30px;
}

.Footer--icons .icon, button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .Projects {
    grid-column: 1 / -1;
  }

  .Footer {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1200px) {
  :root {
    --project-card-size: 300px;
  }

  .project-title {
    padding-block: 1em;
    font-size: 1rem;
  }
}

@keyframes hide-banner {
  10% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
