@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap');

:root {
  --cmn-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  --project-card-size: 250px;
  --trans-dur: 0.2s;
  --grid-right-col: 0;
}

body {
  font-family: 'Harmattan', sans-serif;
}

* {
  transition-duration: 0.25s;
}

*:focus {
  outline-color: var(--btw);
}

::selection {
  background-color: rgb(245, 98, 93, 0.4);
}

.App {
  --theme-color: rgb(245, 98, 93);
  --bg-color: #f5f5f5;
  --header-txt-color: #2b283a;
  --occupation-txt-color: #f47d27;
  --web-txt-color: #4a4e74;
  --sec-color: var(--theme-color);
  --paragraph-txt-color: #4a4e74;
  --footer-bg-color: #d5d4d8;
  --wtb: white;
  --btw: black;
  --t-color: green;

  background-color: var(--bg-color);
  min-height: 100vh;
}

.dark-app {
  --bg-color: #1a1b21;
  --header-txt-color: white;
  --occupation-txt-color: #f3bf99;
  --web-txt-color: white;
  --sec-color: #383838;
  --paragraph-txt-color: #dcdcdc;
  --footer-bg-color: #161619;
  --wtb: black;
  --btw: white;
  --t-color: lightgreen;

  color: white;
}
