@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --cmn-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  --project-card-size: 250px;
}

body {
  font-family: Inter, sans-serif;
}

* {
  transition-duration: .25s;
}

.App {
  --bg-color: #F5F5F5;
  --header-txt-color: #2B283A;
  --occupation-txt-color: #F47D27;
  --web-txt-color: #4A4E74;
  --linkedin-blue: #297FE5;
  --paragraph-txt-color: #4A4E74;
  --footer-bg-color: #D5D4D8;

  background-color: var(--bg-color);
  min-height: 100vh;
  transition-duration: .2s;
}

.dark-app {
  --bg-color: #1A1B21;
  --header-txt-color: white;
  --occupation-txt-color: #F3BF99;
  --web-txt-color: white;
  --linkedin-blue: #5093E2;
  --paragraph-txt-color: #DCDCDC;
  --footer-bg-color: #161619;

  color: white;
}

h1,
h2 {
  color: var(--header-txt-color);
  position: relative;
}

h2::before {
  content: "";
  width: 4px;
  height: 120%;
  position: absolute;
  background-color: var(--linkedin-blue);
  left: -1rem;
}

.Info {
  text-align: center;
  padding-bottom: 2rem;
}

.Info--img {
  width: 100%;
  padding-top: 1em;
}

.Info--img img {
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
}

.Info--contents .name {
  margin-bottom: 5px;
}

.Info--contents .occupation {
  margin: 0;
  font-weight: 400;
  color: var(--occupation-txt-color);

}

.Info--contents .website {
  font-size: 12px;
  color: var(--web-txt-color);
}

.Info--content_btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  width: 130px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
}

button a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 13px;
}

.Info--content_btns button svg {
  width: 1.2rem;
  height: 1.2rem;
}

.Info--content_btns .email-btn {
  background-color: white;
}

.Info--content_btns .linkedin-btn {
  background-color: var(--linkedin-blue);
  color: white;
}

.About,
.Interests {
  margin-inline: 45px;
}

.para {
  font-size: .9rem;
  color: var(--paragraph-txt-color);
}

.Interests {
  margin-bottom: 3rem;
}

.Projects {
  text-align: center;
  background: white;
  margin-top: 4rem;
  padding-block: 2em;
  background-image: url(./assets/project-bg.png);
  background-size: 500px;
  /* background-repeat: repeat-x; */
  background-position: 0;
  animation: bg-scroll 50s linear infinite;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes bg-scroll {
  to {
    background-position: 5000px 2000px;
  }
}

.dark-app .Projects {
  background: var(--bg-color);
}

.project-bg {
  fill: var(--linkedin-blue);
  stroke-width: 3;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 2em 0;
}

.project {
  width: var(--project-card-size);
  height: var(--project-card-size);
  margin: 3em;
  border-radius: 50%;
  overflow: hidden;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: white;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border: 1px solid black;
}

.dark-app .project {
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.5);
}

.project:hover {
  box-shadow: var(--cmn-box-shadow);
  border-radius: 10px;
  transform: scale(1.2); 
}

.project-title {
  box-shadow: var(--cmn-box-shadow);
  margin: 0;
  padding-block: .5em;
  background-color: var(--linkedin-blue);
  color: white;
  font-size: .8rem;
}

.project-preview {
  height: 100%;
  position: relative;
}

.project-preview iframe {
  width: var(--project-card-size);
  height: var(--project-card-size);
  border: 0;
}

.project-overlay {
  opacity: 0;
  position: absolute;
  inset: 0;
}

.project:hover .project-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.project-overlay .go-to {
  transition-timing-function: cubic-bezier(.22,.68,0,1.71);
  transition-delay: .3s;
  visibility: hidden;
  background-color: white;
  color: var(--linkedin-blue);
}

.project-overlay .go-to a {
  padding: .5rem 0;
}

.project:hover .project-overlay .go-to {
  visibility: visible;
  transform: translateY(200%);
}

.dark-app .project-overlay .go-to {
  background-color: white;
  color: black !important;
}

.project-overlay .go-to .arrow {
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 20px;
}

.project-overlay .go-to:hover .arrow {
  opacity: 1;
  width: 20%;
}

.Footer {
  background-color: var(--footer-bg-color);
}

.Footer--icons {
  padding: 2rem;
  margin-inline: auto;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.Footer--icons .icon {
  width: 30px;
  height: 30px;
}

.Footer--icons .icon, button {
  cursor: pointer;
}

@media (min-width: 620px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
  }

  .Info {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: end;
    margin-block: auto;
    padding-block: 3rem;
  }

  .About,
  .Interests {
    max-width: 400px;
  }

  .About {
    display: grid;
    align-content: end;
  }

  .Projects {
    grid-column: 1 / -1;
  }

  .Footer {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1200px) {
  :root {
    --project-card-size: 300px;
  }
  
  .project-title {
    padding-block: 1em;
    font-size: 1rem;
  }
}